<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
        <link
        rel="stylesheet" href="/css/main.css"> {# <link rel="stylesheet" href="/css/katex.min.css"> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
        <title>
            {{ title }} · Aditya Senthilnathan
        </title>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
        <nav>
            <div>Aditya Senthilnathan</div>
            {% for page in collections.all %}
                {% if page.data.showInNav %}
                    <a href="{{ page.url }}">{{ page.data.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </body>
</html>