:root {
    --size-sm: 8px;
    --size-md: 16px;
    --size-lg: 24px;
    --size-xl: 32px;
    --size-xxl: 48px;
    --size-xxxl: 64px;
}

body {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    min-width: 800px;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: var(--size-xl);
    padding-right: var(--size-lg);
    min-width: 150px;
}

main {
    width: 500px;
    line-height: 1.5;
    padding-top: var(--size-xl);
    padding-left: 240px;
    /* Text wrap stuff */
    text-wrap: pretty;
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
}

main h2 {
    font-size: var(--size-md);
}

@media (max-width: 900px) {
    body {
        flex-direction: column;
        min-width: auto;
    }

    main {
        width: 500px;
        padding-left: var(--size-md);
        padding-right: var(--size-md);
    }

    nav {
        text-align: right;
        padding-right: var(--size-md);
        order: -1;
        /* Put nav above main on mobile */
    }
}